*.sw[op]
*.pyc
*.dmnd
*.ldb8/
*.ldb/
*.headers
.ipynb_checkpoints/
test/scratch
test/conda/envs
test/data/seqdbs/GTDB/lastdb*
!test/data/seqdbs/GTDB/lastdb.faa
!test/data/seqdbs/GTDB/lastdb.tax
test/data/seqdbs/RefSeq/lastdb*
!test/data/seqdbs/RefSeq/lastdb.faa
!test/data/seqdbs/RefSeq/lastdb.tax
test/data/seqdbs/COG/frag_8
test/data/seqdbs/KEGG/lastdb*
!test/data/seqdbs/KEGG/lastdb.faa
!test/data/seqdbs/KEGG/lastdb.kos
test/data/seqdbs/Silva/LSU
test/data/seqdbs/Silva/SSU
test/data/seqdbs/Silva/LSU.fasta.bwa
test/data/seqdbs/Silva/SSU.fasta.bwa
