*.sw[op]
*.pyc
test/scratch
test/data/seqdbs/RefSeq/lastdb*
!test/data/seqdbs/RefSeq/lastdb.faa
!test/data/seqdbs/RefSeq/lastdb.tax
test/data/seqdbs/COG/frag-8/COG.?.hmm.h3?
test/data/seqdbs/KEGG/lastdb*
!test/data/seqdbs/KEGG/lastdb.faa
!test/data/seqdbs/KEGG/lastdb.kos
