clade_rank: order
output_style: long
threads:
    hmmer:    3
    lastal:   10
    prodigal: 20
dbs:
    RefSeq: 
        path: /lus/scratch/jmeppley/seqdbs/RefSeq/78/RefSeq-78.AllProteins.faa.ldb/lastdb
        type: lastdb
        istaxdb: True
    KEGG: 
        path: /lus/scratch/jmeppley/seqdbs/KEGG/KeggGene.pep.20160919/lastdb
        type: lastdb
    PFAM:
        path: /lus/scratch/jmeppley/seqdbs/PFAM/30.0/Pfam-A.hmm
    PFAM8:
        path: "../fragdb/pfam{N:05d}.hmm"
        frags: 8
    COG:
        path: /lus/scratch/jmeppley/seqdbs/cdd/16_January_2015/COG/COG.hmm
    TIGR:
        path: /lus/scratch/jmeppley/seqdbs/TIGRFAM/15.0/TIGRFAMS_HMM
